<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button
                defaultHref="tabs/profile/{{loggedInUser}}"
                text=""
            ></ion-back-button>
        </ion-buttons>
        <ion-title>Update Cv</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size-sm="6">
                <div class="cvUpdate">
                    <div class="cvUpdate-title ion-text-center">
                        <h2>Curriculum Vitae</h2>
                    </div>
                    <form [formGroup]="updateCvForm" (ngSubmit)="onSubmit()">
                        <div class="cvUpdate-form">
                            <ion-list>
                                <ion-list-header class="ion-no-padding"
                                    >job Sector</ion-list-header
                                >
                                <ion-select
                                    *ngIf="sectorName"
                                    (ionChange)="onSectors($event)"
                                    formControlName="sector_id"
                                >
                                    <ion-select-option
                                        *ngFor="let sector of sectors"
                                        [value]="sector.id"
                                        >{{sector.name}}</ion-select-option
                                    >
                                </ion-select>

                                <ion-list-header class="ion-no-padding"
                                    >Sub Sector</ion-list-header
                                >
                                <ion-select
                                    *ngIf="subsectorName"
                                    [placeholder]="subsectorName.name"
                                    formControlName="subsector_id"
                                >
                                    <ion-select-option
                                        *ngFor="let subsector of subSectors"
                                        [value]="subsector.id"
                                        >{{subsector.name}}</ion-select-option
                                    >
                                </ion-select>

                                <ion-list-header class="ion-no-padding"
                                    >Province</ion-list-header
                                >
                                <ion-select
                                    *ngIf="provinceName"
                                    (ionChange)="onProvinces($event)"
                                    [placeholder]="provinceName.name"
                                    formControlName="province_id"
                                >
                                    <ion-select-option
                                        *ngFor="let province of provinces"
                                        [value]="province.id"
                                        >{{province.name}}</ion-select-option
                                    >
                                </ion-select>

                                <ion-list-header class="ion-no-padding"
                                    >City</ion-list-header
                                >
                                <ion-select
                                    *ngIf="cityName"
                                    [placeholder]="cityName.name"
                                    formControlName="city_id"
                                >
                                    <ion-select-option
                                        *ngFor="let city of cities"
                                        [value]="city.id"
                                        >{{city.name}}</ion-select-option
                                    >
                                </ion-select>

                                <ion-list-header class="ion-no-padding"
                                    >Job Title</ion-list-header
                                >
                                <ion-item class="form-group">
                                    <ion-input
                                        clearInput="true"
                                        formControlName="job_title"
                                        type="text"
                                        for="sector"
                                    ></ion-input>
                                </ion-item>

                                <ion-list-header class="ion-no-padding"
                                    >Comment</ion-list-header
                                >
                                <ion-item class="form-group">
                                    <ion-textarea
                                        autoGrow="true"
                                        clearInput="true"
                                        formControlName="comment"
                                        type="text"
                                        for="sector"
                                    ></ion-textarea>
                                </ion-item>

                                <ion-list-header class="ion-no-padding"
                                    >Months Employed</ion-list-header
                                >
                                <ion-item class="form-group">
                                    <ion-input
                                        clearInput="true"
                                        formControlName="months_employed"
                                        type="text"
                                        for="sector"
                                    ></ion-input>
                                </ion-item>
                            </ion-list>

                            <section class="form-group">
                                <ion-button
                                    type="submit"
                                    expand="block"
                                    color="medium"
                                    >Update Cv</ion-button
                                >
                            </section>
                        </div>
                    </form>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
