.verify {
    margin-top: 20px;
    border-radius: 8px;
    padding-top: 10px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    &-title {
        // margin: 0px;
        font-family: 'Yeseva One', cursive;
        font-size: 3rem;
        text-align: center;
        // transition: all 3s ease;
    }
    &-error {
        color: #f84d3c;
    }
    &-form {
        margin: 0px 10px;
        padding-bottom: 5px;
    }
}

ion-item {
    --inner-padding-end: 0px;
    --padding-start: 0px;
}
ion-grid {
    height: 100%;
}
ion-row {
    display: flex;
    // align-items: center;
    justify-content: center;
    height: 100%;
}
